.title {
  display: flex;
  flex-flow: column nowrap;
}

.item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;  
}

.quantity{
    font-size: 1.1rem;
    align-self: center;
    padding: 0.25rem;
    border: solid 0.5px black;
    border-radius: 0.25rem;
  }

  .inputs{
      display: flex;
      flex-flow: column nowrap;
  }

.item button {
  border-radius: 0.5rem;
  background-color: saddlebrown;
  color: white;
  padding: 0.25rem 0.7rem;
  margin: 0.25rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.item button:hover {
  background-color: black;
}
