.item{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    padding: 0.5rem 1rem;
}

.item div{
    margin: 0.5rem;
}

.title {
  font-size: 1.7rem;
  font-weight: bold;
}

.price{
    font-size: 1.4rem;
    font-weight: bold;
    color:brown;
}

.description{
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}